@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Volkhov:wght@400;700&display=swap');

.nuxt-content-highlight {
    @apply relative;
}

.nuxt-content-highlight .filename {
    @apply absolute right-0 text-gray-600 font-light z-10 mr-2 mt-1 text-sm;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.page-enter-active,
.page-leave-active {
    transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
    opacity: 0;
    transform: scale(0.99);
}